@model DeadlockAspNetTest.Models.ViewModel
@{
    ViewBag.Title = "AsyncAwait";
}

<h1>AsyncAwait</h1>
<p>This page uses async/await correctly and so it renders correctly!<p>
@Html.Partial("_DataResult", Model)