@model DeadlockAspNetTest.Models.ViewModel
@{
    ViewBag.Title = "ConfigureAwaitOkay";
}

<h1>ConfigureAwaitOkay</h1>
@Html.Partial("Explanations/_ConfigureAwaitOkay")
@Html.Partial("_DataResult", Model)
