@model DeadlockAspNetTest.Models.ViewModel
@{
    ViewBag.Title = "ConfigureAwaitBad";
}

<h1>ConfigureAwaitBad</h1>
@Html.Partial("Explanations/_ConfigureAwaitBad")
@Html.Partial("_DataResult", Model)
